.deck {
  background: #f7f3f3;
  padding: 20px;
  max-width: 395px;
}

header {
  font-size: 22px;
}

.card {
  background: #cdcdcd4f;
  padding: 10px;
  font-size: 30px;
}

.red {
  color: #a82038;
}

